.header {
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    .logo {
        position: absolute;
        width: 120px;
        height: 33px;
        left: 100px;
        top: 24px;
    }
}

