<div class="container">
    <div class="title">
        <div class="title-header">Create Account</div>
        <div class="title-msg">Let’s get productive toghether!</div>
    </div>
    <form action="#">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Full Name *</span>
                <input type="text" placeholder="Enter your full name" required>
            </div>
            <div class="input-box">
                <span class="details">Username *</span>
                <input type="text" placeholder="Enter your username" required>
            </div>
            <div class="input-box">
                <span class="details">Email *</span>
                <input type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <span class="details">Phone number *</span>
                <input type="text" placeholder="Enter your phone number" required>
            </div>
            <div class="input-box">
                <span class="details">Address line *</span>
                <input type="text" placeholder="Enter your address line" required>
            </div>
            <div class="input-box">
                <span class="details">Suite</span>
                <input type="text" placeholder="Enter your suite">
            </div>
            <div class="input-box">
                <span class="details">City *</span>
                <input type="text" placeholder="Enter your city" required>
            </div>
            <div class="input-box">
                <span class="details">ZIP Code *</span>
                <input type="text" placeholder="Enter your ZIP code" required>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Create Account"/>
        </div>
    </form>
</div>
